* {
    transition-timing-function: cubic-bezier(1,.34,0,.6);
    outline: none;
}

html {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    user-select: none;
    overflow-x: hidden;
    font-family: 'Rubik'
}

body {
    background-color: #4F6D7A;
    color: #EBE8E1;
    padding: 0;
    margin: 0;
    user-select: none;
    overflow-x: hidden;
    font-family: 'Rubik'
}


button {
    height: 3em;
    width: 100%;
    border: none;
    color: #EBE8E1;
    background-color: transparent;
    transition-duration: .09s;
    -webkit-app-region: no-drag;
}

button:hover {
    background-color: #2F414A;
}

button:active {
    background-color: #738B94;
}


.sideBar {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    width: 4em;
    height: 100%;
    background-color: #1F2B32;
    color: #EBE8E1;
    -webkit-app-region: drag;
    box-shadow: inset 0px 0px 12px -2px rgba(34,34,34,1);
}


.floatLeft {
    float: left
}

.floatRight {
    float: right
}

.dragRegion {
    -webkit-app-region: drag;
    display: flex;
    width: 100%;
    height: 3em;
    transition-duration: .09s;
    align-items: center;
    justify-content: center
}

.dragRegion img {
    margin: 0 auto
}

.dragRegion:hover {
    background-color: #2F414A;
    transition-duration: .09s;
    cursor: -webkit-grab;
}

.dragRegion:active {
    background-color: #738B94;
    transition-duration: .09s;
}

.refresh img {
    margin: 0 auto
}

#webContent {
    position: fixed;
    top: 0;
    left: 4em;
    height: 100vh; width: calc(100% - 4em);
    z-index: 2;
    font-family: 'Rubik';
}