* {
    transition-timing-function: cubic-bezier(1,.34,0,.6);
    outline: none;
}

html {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    user-select: none;
    overflow-x: hidden;
    font-family: 'Rubik'
}

body {
    background-color: #4F6D7A;
    color: #EBE8E1;
    padding: 0;
    margin: 0;
    margin-top: 3em;
    user-select: none;
    overflow-x: hidden;
    font-family: 'Rubik';
    width: 100%;
    height: calc(100% - 3em);
}

.addressBarContainer {
    width: calc(100% - 6em);
    height: fit-content;
    margin-left: 3em;
    margin-right: 3em;
    margin-top: 3em;
}

#addressBar {
    width: calc(100% - 32px);
    height: 3em;
    font-size:16px; 
    padding:32px; 
    border: none;
    border-radius:6px; 
    background-color:#1F2B32; 
    color:#EBE8E1; 
    box-shadow: inset 0px 0px 12px -2px rgba(34,34,34,1);
    transition-duration: .125s;
    margin-bottom: 0.25em;
    font-family: 'Rubik'
}

#go {
    width: calc(100% - 32px);
    height: 3em;
    font-size:16px; 
    padding:16px; 
    border: none;
    border-radius:6px; 
    background-color:#1F2B32; 
    color:#EBE8E1; 
    box-shadow: 0px 0px 12px -2px rgba(34,34,34,1);
    transition-duration: .25s;
    font-family: 'Rubik'
}

#addressBar:hover {
    box-shadow: inset 0px 0px 24px -2px rgba(34,34,34,1);
    transition-duration: .25s
}

#go:hover {
    background-color: #2F414A;
    transition-duration: .25s;
}

.newTabContainer {
    position: fixed;
    top: 0;
    left: 4em;
    height: 100vh;
    width: calc(100% - 4em);
    z-index: 1;
    font-family: 'Rubik'
}

